{% load i18n zinnia %}
<div id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %}">
  {% block entry-header %}
  <div class="entry-header" style="margin-bottom: 0px;margin-top: 50px;">
    {% block entry-title %}
    <h2 class="entry-title" style="margin-bottom: 0px;">
      <table width="100%">
          <tr>
              <td>
                  <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
                    {{ object.title|widont }}
                  </a>
              </td>
              <td align="right">
                  <abbr class="published" title="{{ object.creation_date|date:"c" }}" style="font-size: x-small">{{ object.creation_date|date:"DATE_FORMAT" }}</abbr>
            </td>
          </tr>
      </table>
    </h2>
    {% endblock entry-title %}
  </div>
  {% endblock entry-header %}

  {% block entry-body %}
  <div class="entry-body">
    {% block entry-image %}
    {% if object.image %}
    <div class="entry-image">
      <p>
        {% if continue_reading %}
        <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
          {% endif %}
          <img src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
          {% if continue_reading %}
        </a>
        {% endif %}
      </p>
    </div>
    {% endif %}
    {% endblock entry-image %}
    {% block entry-content %}
    <div class="entry-content" style="color:black;font-weight: 400;">
      {{ object_content|safe }}
    </div>
    {% endblock entry-content %}
    {% block continue-reading %}
    {% if continue_reading and object_content.has_more %}
    <p class="continue-reading" style="font-weight: 300;">
      <a href="{{ object.get_absolute_url }}"
         title="{% blocktrans with object=object.title percent=object_content.remaining_percent|floatformat:0 %}{{ percent }}% of {{ object }} still remains to read.{% endblocktrans %}"
         rel="bookmark">
        {% trans "Continue reading" %}...
      </a>
    </p>
    {% endif %}
    {% endblock continue-reading %}
  <table><tr>
    <td>
      <div class="fb-like" data-href="{{ object.get_absolute_url }}" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="true"></div>
    </td>
    <td style="padding-top:8px;padding-left: 8px;">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="SafeLagoon">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </td>
    <td style="padding-top:8px;padding-left: 8px;"><div class="g-plusone" data-annotation="inline" data-width="300"></div></td>
  </tr></table>
  <br>
  </div>
  {% endblock entry-body %}

  {% block entry-footer %}
  <div class="entry-footer">
    {% block entry-discussions %}
    <p class="entry-discussions">
      <strong>{% trans "Discussions" %}</strong> :
      {% block entry-comments %}
      {% with comment_count=object.comment_count %}
      {% if comment_count %}
      <a href="{{ object.get_absolute_url }}#comments"
         title="{% blocktrans with object=object.title %}Comments on {{ object }}{% endblocktrans %}">
        {% blocktrans count comment_count=comment_count %}{{ comment_count }} comment{% plural %}{{ comment_count }} comments{% endblocktrans %}
      </a>
      {% else %}
      {% if object.comments_are_open %}
      {% trans "No comments yet." %}
      <a href="{{ object.get_absolute_url }}#comment-form"
         title="{% blocktrans with object=object.title %}Leave a comment on {{ object }}{% endblocktrans %}">
        {% trans "Be first to comment!" %}
      </a>
      {% else %}
      {% trans "Comments are closed." %}
      {% endif %}
      {% endif %}
      {% endwith %}
      {% endblock entry-comments %}
    </p>
    {% endblock entry-discussions %}
  </div>
  {% endblock entry-footer %}
</div>
