{% load i18n staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
        var STATIC_PATH = "{% static "" %}";
    </script>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{% block title %}{% trans "Welcome to the Lagoon: Where we make the Internet safer" %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% trans "Welcome to the Lagoon: Where we make the Internet safer" %}{% endblock %}">
    <meta name="author" content="Quadro Consulting LLC">
    <meta name="apple-itunes-app" content="app-id=943900866">
    <link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/x-icon"/>
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <!-- web font  -->
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css"> -->
    <!-- plugin css  -->
    <link rel="stylesheet" type="text/css" href="{% static "js-plugin/animation-framework/animate.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "js-plugin/magnific-popup/magnific-popup.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "js-plugin/isotope/css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "js-plugin/flexslider/flexslider.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "js-plugin/pageSlide/jquery.pageslide.css" %}"/>
    <!-- appear-->
    <link rel="stylesheet" type="text/css" href="{% static "js-plugin/appear/nekoAnim.css" %}">
    <!-- Owl carousel-->
    <!-- <link rel="stylesheet" href="js-plugin/owl.carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="js-plugin/owl.carousel/owl-carousel/owl.theme.css">-->
    <!-- icon fonts -->
    <link type="text/css" rel="stylesheet" href="{% static "font-icons/custom-icons/css/custom-icons.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "font-icons/custom-icons/css/custom-icons-ie7.cs" %}s">
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="{% static "css/layout.css" %}">
    <link type="text/css" id="colors" rel="stylesheet" href="{% static "css/colors.css" %}">
    <link type="text/css" id="colors" rel="stylesheet" href="{% static "css/custom-buttons.css" %}">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="{% static "js/modernizr-2.6.1.min.js" %}"></script>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "images/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "images/apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "images/apple-touch-icon-144x144.png" %}">

    {% block header_addons %}
    {% endblock %}
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}

</head>

<body class="zinnia {% block theme-class %}default{% endblock theme-class %} {% block color-class %}blue{% endblock color-class %} {% block sidebar-class %}right-sidebar{% endblock sidebar-class %} {% block body-class %}{% endblock body-class %}">
<!-- G+ INIT -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: '{{LANGUAGE_CODE}}'}
</script>
<!-- G+ END -->
<!-- FB INIT -->
<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '387015968126904',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
      {% if LANGUAGE_CODE == "ru" %}
         js.src = "//connect.facebook.net/ru_RU/sdk.js";
      {%  else %}
         js.src = "//connect.facebook.net/en_US/sdk.js";
      {% endif %}
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
    {% if LANGUAGE_CODE == "ru" %}
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3&appId=387015968126904";
    {% else %}
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=387015968126904";
    {% endif %}
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- END FB INIT -->

{% include "landing/header.html" %}
    <div class="container">
      <div id="header">
      </div>
      <div id="content" class="hfeed" style="padding-top: 88px;">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
{% include "landing/footer.html" %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js-plugin/respond/respond.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js-plugin/jquery/1.8.3/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js" %}"></script>
    <!-- third party plugins  -->
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js-plugin/easing/jquery.easing.1.3.js" %}"></script>

    <script type="text/javascript" src="{% static "js-plugin/flexslider/jquery.flexslider-min.js" %}"></script>

    <script type="text/javascript" src="{% static "js-plugin/isotope/jquery.isotope.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js-plugin/neko-contact-ajax-plugin/js/jquery.form.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js-plugin/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js-plugin/parallax/js/jquery.scrollTo-1.4.3.1-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js-plugin/parallax/js/jquery.localscroll-1.2.7-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js-plugin/parallax/js/jquery.stellar.min.js" %}"></script>
    <!-- appear -->
    <script type="text/javascript" src="{% static "js-plugin/appear/jquery.appear.js" %}"></script>
    <script type="text/javascript" src="{% static "js-plugin/pageSlide/jquery.pageslide-custom.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js-plugin/jquery.sharrre-1.3.4/jquery.sharrre-1.3.4.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js-plugin/jquery-cookie/jquery.cookie.js" %}"></script>

    <script type="text/javascript" src="{% static "js/custom.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.set-language').click(function (e) {
                $(this).closest('form').submit();
                e.stopPropagation()
                return false;
            })
        })
    </script>

    <script type="text/javascript">
        var link = document.getElementById("home_blog_link");
        link.className = "active";
    </script>

    {% block scripts_ext %}
    {% endblock %}
{% endblock %}

  </body>
</html>
